.grid {
    margin: 0 !important;
    padding: 0 !important;
    padding-inline: 0 !important;
    padding-inline-start: 0 !important;
    height: 100% !important;
}

.column {
    margin: 0 !important;
    padding: 0 !important;
    padding-inline: 0 !important;
    padding-inline-start: 0 !important;
    height: 100% !important;
}